.notFound {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.notFound h2 {
    margin: auto 2vh;
    padding: 2em;
    text-align: center;
}